/*
	Project				: EMEK
	File and Version 	: emekstyle.css v1.0.0
	Created Date		: 14.03.2019
	Updated Date 		: 14.03.2019
	Author 				: bakircius
	1- General
	2- Header
	3- Slider
	4- Products
	5- Price List
	6- Contact
	7- Footer

*/

/* --------- Section 1 - GENERAL --------- */

body {
	font-family: 'Poppins', sans-serif;
}
a:link, a:visited, a:focus, a:active {
	color:#6F2DA8;
	text-decoration: none;
	font-weight: 700;
}
a:hover {
	color: #B5338A;
}
h1 {
	font-size: 36px;
	font-weight: 900;
	color: #6F2DA8;
}
h2 {
	font-size: 30px;
	font-weight: 400;
	color: #6F2DA8;
}
h3 {
	font-size:24px;
	font-weight: 700;
	color:#6F2DA8;
}

/* --------- Section 2 - HEADER --------- */

header {
	padding: 20px 80px;
	width: 100%;
	background: #D6CFC7;
}

#menu ul li, #social li  {
	margin-right: 20px;
	padding-top: 12px;
	float: left;
	font-size:24px;
}
#menu ul li:last, #social li:last  {
	margin-right: 0px;
}
#social a:link,#social a:visited, #social a:active {
	color:#6F2DA8;
}
#social a:hover {
	color:#B5338A;
}

/* --------- Section 3 - SLIDER --------- */

/* --------- Section 4 - ABOUT --------- */

section.about {
	width: 100%;
	padding: 50px 0;
	background: rgba(111,45,168,0.5);
}

/* --------- Section 4 - PRODUCTS --------- */

section.products {
	width: 100%;
	padding: 50px 0;
	background:#C7C6C1;
}

figure {
	position: relative;
}
figure .f_button {
	position: absolute;
	right:20px;
	bottom:20px;
	padding: 10px;
	color:#FF69B4;
	border-radius: 15px;
	background-color: #B9BBB6;
	font-size:18px;
}
figure .f_button:hover {
	background-color: #351E10;
}

/* --------- Section 5 - PRICE LIST --------- */

.price-list {
	padding: 50px;
	width: 100%;
}
.price-heading {
	background: #6F2DA8;
	padding: 20px;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
}

.price-desc {
	padding: 20px;
	border:1px solid #877F7D;

}
/* --------- Section 6 - CONTACT --------- */

#map {
	height: 425px;
}

/* --------- Section 7 - FOOTER --------- */

footer {
	padding: 20px 80px;
	width: 100%;
	background: #D6CFC7;
}